:root {
  --main-color: #0046fc;
  --dark-headline: #0c121c;
  --dark-text: #1e293b;
  --light-text: #b8bfc6;
  --light-color: #b4cfee;
  --light-background: #ffffff;
  --border-color: #2b00b8;
}

/* Example usage of the color variable */
body {
  background-color: var(--light-background);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: var(--dark-text);
}

.h1,
h2,
h3,
h4 {
  color: var(--main-color);
}

.hr {
  color: var(--dark-headline);
}

.Header {
  /* background-image: linear-gradient(to right, var(--light-color), var(--light-text)); */
  box-shadow: #0046fc 0px 0px 10px;
  color: var(--light-background);
  padding: 2rem;
  text-align: center;
}

.auth-btn {
  border: none;
  padding: 0.2rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 11px;
  cursor: pointer;

  border-radius: 8px;
}
